@mixin sticky{
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
}

@mixin boxShadow($value...){
    box-shadow: $value;
    -webkit-box-shadow: $value;
}