.btn{
    background: $black;
    color: $white;
    border: 2px solid $black;
    width: auto;
    @extend .brdRnd;

    .btnHover{
        background: $white;
        color: $black;
        cursor: pointer;
        @extend .hover;
    }

    &.outline{
        background: none;
        color: $black;
    }

    &:hover{
        @extend .btnHover;
    }

    &:focus{
        @extend .btnHover;
        @extend .focus;
    }
  
}