.txtFld{
    border: 2px solid $black;
    @extend .brdRnd;

    &:hover{
        @extend .hover;
    }

    &:focus{
        @extend .focus;
    }
}

.txtSign,
.dd{
    position: relative;
    display: inline-block;

    &:before,
    &:after{
        content: '';
        position: absolute;
        z-index: 1;
    }
}

.dd{
    ul{
        position: absolute;
        width: 100%;
        z-index: 1;
        border-radius: 5px;
        background: $white;
        box-shadow: 0 0 5px $black;

        label{
            width: 100%;
            float: left;
            padding: 10px;
            border-bottom: 1px solid $black;
            color: $black;
        }

        li{
            list-style: none;
            float: left;
            width: 100%;

            &:last-child{
                label{
                    border: none;
                }
                
            }
        }
    }
}

.txtSign{

    .txtFld{
        padding: 10px 10px 10px 60px;
    }
    
    &:before{
        min-width: 30px;
        height: 100%;
        text-align: center;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background: $black;
        color: $white;
        padding: 0 10px;
        line-height: 3rem;
    }

    &.pnd{
        &:before{
            content:'£';
        }
    }

    &.eur{
        &:before{
            content:'€';
        }
    }

    &.rps{
        &:before{
            content:'₹';
            font-family: none;
        }
    }

    &.pnd{
        &:before{
            content:'£';
        }
    }

    &.dlr{
        &:before{
            content:'$';
        }
    }

    &.gb{
        &:before{
            content:'GB';
        }
    }

}

.dd{
    &:after{
        width: 7px;
        height: 7px;
        border-right: 2px solid $black;
        border-bottom: 2px solid $black;
        top: 50%;
        right: 20px;
        transform: rotate(45deg) translateY(calc(-50% - 5px));
    }
}