.modalWrap{
    position: fixed;
    top:0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background: rgba(0,0,0,0.9);

    transition: none;

    display: none;

    z-index: 9;

}

.overlay{
    position: absolute;
    top:0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.modalbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    max-width: 600px;
    max-height: calc(100% - 60px);

    background: $white;
    border: 1px solid $black;

    border-radius: 10px;

    overflow-y: auto;

    & > *{
        padding: 20px;
    }

    &:after{
        content:'';
        @include sticky;
        bottom: 0;
        width: 100%;
        height: 50px;
        background: $white;
        box-shadow: 0 0 20px 20px $white;
        display: table;
    }

    .title{
        font-weight: bold;
    }

    .closeBar{
        position: absolute;
        top: 0;

        transition: none;

        &.sticky{
            @include sticky;
            width: 100%;
            background: $white;
            padding: 10px 20px;
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
        }

    }

    .close{
        float: right;
    }

}