.toTop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    z-index: 9;

    svg{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 25px;
    }
    
    .icon{
        fill: $white;
    }

    &:hover{
        @extend .hover;

        background: $white;
        border: 2px solid $black;

        .icon{
            fill: $black;
        }

    }

    &:focus{
        @extend .focus;

        .icon{
            fill: $black;
        }
    }

}