.toTop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: $black;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: $white;
    text-align: center;
    padding: 10px;
}